// /**********************************************************************************************
//
// Trying to us Sass
//
// 1. Sass Colors
// 1. Text
// 2. Button
// 3. Images
// 4. Footer
// 5. Card
// 6. Paddings
// 7. Forms
//
// // **********************************************************************************************/
//
//
// /*********************************************************************************************
//
// 1. Sass Colors
//
// // *********************************************************************************************/

$sass-red: #EE4266
$sass-black: #0a0f0d
$sass-purple: #2a1e5c
$sass-gray: #c4cbca
$sass-teal: #3cbbb1


// /*********************************************************************************************
//
// 1. Text
//
// // *********************************************************************************************/

body
  color: $sass-black

h1, h2, h3
  font-family: 'Droid Serif', serif
  font-weight: 400

p
  line-height: 150%

ul, li
  list-style: none

a
  text-decoration: none
  color: #29627B


a:hover, a:focus
  text-decoration: underline


a:hover, a:active
  outline: none


ul.inlinelist
  list-style-type: none
  margin: 0
  padding: 0


.inlinelist > li
  display: inline-block


li a.inlinelist 
  display: block
  text-align: center


#mainNav li
  display: inline-block
  padding-top: 1.0em
  padding-right: 5.0em

#heroTxt
  font-size: 2.8em


#heroSubTxt
  font-size: 1.875em
